<h1>Agregar nuevo proyecto</h1>
<form>
<div class="mb-3">
  <label for="name" class="form-label">Nombre del proyecto</label>
  <input type="title" class="form-control" name="name">
</div>

<div class="mb-3">
  <label for="description" class="form-label">Descripción</label>
  <textarea class="form-control" rows="3" name="description"></textarea>
</div>

<div class="mb-3">
  <label for="start_on" class="form-label">Fecha de inicio</label>
  <input type="date" class="form-control" name="start_on">
</div>

<div class="mb-3">
  <label for="finish_on" class="form-label">Fecha de término</label>
  <input type="date" class="form-control" name="finish_on">
</div>

<div class="mb-3">
  <label for="status" class="form-label">Estado</label>
  <input type="text" class="form-control" name="status">
</div>

<button type="submit" class="btn btn-dark">Enviar</button>
</form>