// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filter_by {
    text-align: center;
    margin-right: auto;
  }
  
  .filter_by li {
    display: inline-block;
  }
  